### Acesso ao banco de dados e consultas

In [57]:
import pandas as pd
import psycopg2 as pg
import sqlalchemy
from sqlalchemy import create_engine

In [58]:
con = 'postgresql://postgres:Admin@localhost/STREAMING DE MUSICA'
sqlalchemy.create_engine (con)

Engine(postgresql://postgres:***@localhost/STREAMING DE MUSICA)

In [59]:
#consulta 1
query = 'Select us.nome, alb.titulo from usuario us, album alb where us.id= alb.id_criador'
result = pd.read_sql_query(query, con)
result

                    nome                     titulo
0       Tarcísio de Lima                  Meu sonho
1           Marisa Monte                       Mais
2         Marshall Bruce                   Kamikaze
3          Billie Eilish       Hit me hard and soft
4        Anderson Freire                   Raridade
5         Kaique Menezes               Contradições
6   Jorge Mário da Silva     Musicas para churrasco
7            Exaltasamba           Pagode do exalta
8        Michael Jackson                   Thriller
9      Mamonas Assasinas  Mamonas assasinas ao vivo
10              Leonardo         Esse alguém sou eu
11  Fagner Cândido Lopes            Fagner(Ao Vivo)

In [60]:
#consulta 2
query2 = "select m.titulo as musica, gen.nome_genero as gênero from musica m join genero_da_musica gdm on m.id_musica = gdm.id_musica join genero_musical gen on gen.id_genero = gdm.id_genero order by m.titulo asc"
result2 = pd.read_sql_query(query2, con)
result2

                     musica      gênero
0                   A Doida      pagode
1              A Igreja Vem      gospel
2                 Ainda bem         mpb
3     Amiga da minha mulher      pagode
4     Amiga da minha mulher         mpb
5                  Anjo Meu      pagode
6               Asa Partida       brega
7                   Beat It         pop
8                  Beija eu         mpb
9               Billie jean         pop
10         Brasilia amarela        rock
11                  Chihiro         pop
12                 Conflito       brega
13             Contradiçoes         rap
14             Contradiçoes  eletrônica
15                  Desejos         rap
16                 Efésio 6      gospel
17       Esse alguem sou eu   sertanejo
18   Eu gosto é de problema       forró
19                 Eu to ai   sertanejo
20             Human Nature         pop
21                    Lunch         pop
22  Mais uma noite sem você   sertanejo
23                Mega Star      pagode
24                Mentirosa   sertanejo
25               Nem Pensar      pagode
26                   Normal         rap
27                  Noturno       brega
28        Pelados em santos        rock
29                Preferida         rap
30         Proteção de tela       forró
31                 Raridade      gospel
32                     Rosa         mpb
33                   Skinny         pop
34               The ringer         rap
35                    Venom         rap
36                Vira-vira        rock
37                  Vizinha         mpb

In [61]:
#consulta 3
query3 = "Select  gm.nome_genero, count(*) as total_musicas from musica m join genero_da_musica gdm on m.id_musica = gdm.id_musica join genero_musical gm on gm.id_genero = gdm.id_genero group by gm.nome_genero"
result3 = pd.read_sql_query(query3, con)
result3

  nome_genero  total_musicas
0   sertanejo              4
1         rap              6
2      gospel              3
3         pop              6
4       brega              3
5       forró              2
6  eletrônica              1
7        rock              3
8      pagode              5
9         mpb              5